/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.mt-4 {
  margin-top: 1.5rem;
}

.flex-column {
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.mr-2 {
  margin-right: 0.75rem !important;
}
